.asset-page_title {
  padding-left: 4%;
  padding-top: 8px;
}

.asset-page__asset-list {
  margin-top: 10px;
}

.asset-page__card {
  width: 46%;
  margin: 1% 2%;
}

.asset-page__card>img {
  width: 90%;
  margin: 5% 5% 1%;
  object-fit: cover;
}

.asset-page__card>span {
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 2%;
}

.asset-page__card>a {
  position: absolute;
  right: 5%;
}