.meme-page_content {
  width: 90vw;
  margin: 10px 5vw;
}

.meme-page_image {
  background-color: rgb(230, 230, 230);
  width: 100%;
  object-fit: cover;
  margin: 4px auto;
}

.meme-page_input {
  display: block;
  width: 96%;
  height: 34px;
  border-width: 0;
  margin: 4px auto;
  font-size: 18px;
  padding: 0;
  padding-left: 8px;
}

.meme-page_button {
  width: 100%;
  margin: 12px auto;
}

.meme-page_upgrade {
  width: 92vw;
  margin: 14px 4vw;
}